<html>
<head>
    <title>Carlo Bailey - Researcher, New York</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='./static/lib/custom.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body class='' id="body">              
    <div id="wrapper"> 
		<div class="section">

				<p>Carlo is currently a research scientist at <span class="keyword"><a 
                    href="https://topos.com/" class="hover-img">Topos
                    <span><img src="https://topos.com/static/similarities-5786b64e07a8b2d2a48d33c8c18bdf25.png" 
                    alt="image" height="300"/></span></a></span>, a 
                    location intelligence startup bringing advanced machine learning to the commercial 
                    real estate industry. Previously he was a researcher in <span class="keyword"><a 
                    href="https://research.wework.com/" class="hover-img">WeWork’s
                    <span><img src="https://media.wired.com/photos/59af12b06b57556c6c7fd1f0/master/w_1200,c_limit/08.28.17_SVA__Products%20of%20Design_0824.jpg" 
                    alt="image" height="300"/></span></a></span> applied science team. 
                    His work and research focuses on machine 
                    learning, agent based modeling, data visualization, real estate and architecture, as well as creative 
                    coding.<br><br>
					Notable recent projects include <span class="keyword"><a class="hover-img"
                    href="https://link.springer.com/chapter/10.1007/978-981-10-6611-5_29">predicting the 
                    occupancy<span><img src="https://media.springernature.com/w306/springer-static/cover-hires/book/978-981-10-6611-5" 
                    alt="image" height="300"/></span></a></span> of offices based on their physical attributes, 
                    <span class="keyword"><a href="https://journals.sagepub.com/eprint/KumUk4AE8tsngPnqENDX/full" 
                    class="hover-img">automating<span>
                    <img src="https://journals.sagepub.com/na101/home/literatum/publisher/sage/journals/content/jaca/2018/jaca_16_2/1478077118778586/20180613/images/large/10.1177_1478077118778586-fig13.jpeg" 
                    alt="image" height="300"/></span></a></span> the layout of desks in office space, and 
                    building a <span class="keyword">recommendation system</span> for real estate 
                    brokers.<br><br>
					Carlo attended Columbia University to study architecture, focussing on design computation, 
                    where he also taught a graduate class on <span class="keyword"><a class="hover-img" 
                    href="https://measurespace.tumblr.com/">spatial analytics<span>
                    <img src="https://archinect.imgix.net/uploads/jo/jobz0h0z3l5lb6gq.jpg?fit=crop&auto=compress%2Cformat&w=728&dpr=2" 
                    alt="image" height="300"/></span></a></span>. 
                    Previously worked at Foster + Partners and was a researcher at KieranTimberlake. He is highly 
                    skilled in modern machine learning frameworks, Python, SQL, Tensorflow, Apache Spark, 
                    cloud computing, data visualization and comfortable with Javascript, D3, HTML, CSS. He has spoken 
                    <span class="keyword"><a href="https://segd.org/carlo-bailey">widely</a></span> on the 
                    <span class="keyword"><a href="https://vimeo.com/205599947">applications</a></span> of ML and data in 
                    the <span class="keyword"><a href="https://www.youtube.com/watch?v=bIfj2dTE7_M">AEC</a></span> industry.
		</div>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.2/paper-full.js"></script>

    <canvas id="canvas" resize keepalive="true"></canvas>

    <script type="text/paperscript" canvas="canvas">
    var width, height, center;
var points = 10;
var smooth = true;
var path = new Path();
var mousePos = view.center / 2;
var pathHeight = mousePos.y;
path.fillColor = 'white';
path.opacity = 0.75;
path.strokeWidth = 2;
path.blendMode = 'lighten';
initializePath();

function initializePath() {
    center = view.center;
    width = view.size.width;
    height = view.size.height / 1.25;
    path.segments = [];
    path.add(view.bounds.bottomLeft);
    for (var i = 1; i < points; i++) {
        var point = new Point(width / points * i, center.y);
        path.add(point);
    }
    path.add(view.bounds.bottomRight);
    path.fullySelected = false;
}

function onFrame(event) {
    pathHeight += (center.y - mousePos.y - pathHeight) / 10;
    for (var i = 1; i < points; i++) {
        var sinSeed = event.count + (i + i % 10) * 100;
        var sinHeight = Math.sin(sinSeed / 200) * pathHeight;
        var yPos = Math.sin(sinSeed / 100) * sinHeight + height;
        path.segments[i].point.y = yPos;
    }
    if (smooth)
        path.smooth({ type: 'continuous' });
}

function onMouseMove(event) {
    mousePos = event.point;
}

function onMouseDown(event) {
    smooth = !smooth;
    if (!smooth) {
        // If smooth has been turned off, we need to reset
        // the handles of the path:
        for (var i = 0, l = path.segments.length; i < l; i++) {
            var segment = path.segments[i];
            segment.handleIn = segment.handleOut = null;
        }
    }
}

// Reposition the path whenever the window is resized:
function onResize(event) {
    initializePath();
}

    </script>
    

</body>
</html>


