<html>
<head>
    <title>Carlo Bailey - Designer, New York</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='./static/lib/custom.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body class='' id="body">
    <!-- <div class="jumbotron" style="background: #FFF"> -->                
    <div id="wrapper"> 
		<div class="section">
			<!-- <div> -->
				<p>Currently a design researcher at WeWork doing <span class="keyword">spatial analytics</span> and <span id="data-s" class="keyword">data science</span>.
					Work includes utilizing <span class="keyword">natural language processing</span> to analyze user <span class="keyword">feedback data</span>,
					creating apps to inform <span id="des" class="keyword">design</span> decisions, building predictive <span class="keyword">ML</span> models, <span class="keyword">data
					visualisation</span> for business intelligence, and sometimes dabbling in <span class="keyword">IoT</span> development.<br><br>

					Went to Columbia University to study <span class="keyword">architecture</span>, focussing on <span class="keyword">design computation</span>,
					where I also taught a graduate <span class="keyword">class</span> on spatial analytics. Previously worked at Foster + 
					Partners and was a researcher at KieranTimberlake.<br><br>

					Often speak about <span class="keyword">technology</span> and sometimes write about <span class="keyword">design theory</span>...</p>
			<!-- </div> -->
		</div>
        <div class="BG">
            <img id="popup" src="./static/lib/images/WeWork_Weihai-final-large-3.jpg">
        </div>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">


    // hide/show images on design
    $("#des").hover(function(){
        $('#popup').show();
    },function(){
        $('#popup').hide();
    });


    // change text colour
    $('#des').hover(function () {
        $("p").css('color', 'white');
        $(this).css('color', 'black');
    },
    function () {
        $("p").css('color', 'black');
    });


    </script>
</body>
</html>


