<html>
<head>
    <title>Carlo Bailey - Designer, New York</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='./static/lib/custom.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body class='stop-scrolling' id="body">
    <!-- <div class="jumbotron" style="background: #FFF"> -->                
    <div style="display: block; height: 100%;">
    	<div class="shapes">
    		<svg id="svgObject" width="300px" height="300px"></svg>
    	</div>
		<div class="section">
			<div>
				<p>Carlo Bailey</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>design, research and analytics</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>current work</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>available for collaboration</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>i sometimes write</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>based in new york</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>from london</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>resume here</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>Carlo Bailey</p>
			</div>
		</div>
		<div class="section">
			<div>
				<p>design, research and analytics</p>
			</div>
		</div>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="./static/lib/snap.svg-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">


		var origDocHeight = document.body.offsetHeight*4;

		$(document).ready(function() {

		    function loop() {
		        $('.section').css({top:0});
		        $('.section').animate ({
		            top: '-='+origDocHeight,
		        }, 50000, 'linear', function() {
		            loop();
		        });
		    }
		    loop();
		 });

		s = Snap("#svgObject");
		var path = s.path("M 150, 150 m -50, 0 a 50,50 0 1,0 100,0 a 50,50 0 1,0 -100,0").attr({ fill: "none", stroke: "white", strokeWidth: 5 , mixBlendMode: "difference"});
		var circle = s.circle(160,70,20,20).attr({fill: "white"});
		pole = s.rect(150,150,5,50).attr({fill: "white"});
		var center = s.rect(150,150,5,5).attr({fill: "none"});

		function infRotate( el,ref ) {
			var bbox = ref.getBBox();
			var trans1 = 'r360,'+(bbox.cx).toString()+','+(bbox.cy).toString();
			var trans2 = 'r0,'+(bbox.cx).toString()+','+(bbox.cy).toString();
		    el.transform(trans1); // removing the previous completed transform.
		    el.animate({ transform: trans2 }, -6000, mina.linear, infRotate.bind( null,el,ref ));
		};


		infRotate( circle,center )
		
		infRotate( pole, center);

		// function to pass to svg to enable scrolling
		var test = function(){
    		console.log("success!");
    	}

		circle.click(test);


    </script>
</body>
</html>


